.parent2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area:  2 / 10 / 13 / 13 }
    .div2 { grid-area:  2 / 1 / 13 / 10; }
    
.div2 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 16px;
grid-row-gap: 0px;
}

/* .div1{
    border-style:ridge;
    border-color:#cd283c;
    border-width: 2px;
} */