.appuser {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    }
    
    .head { grid-area: 1 / 1 / 3 / 13; }
    .comps { grid-area: 3 / 1 / 13 / 13; }